*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#EAF5FF;

font-family:'Inter',sans-serif;

color:#35506A;

}

/* ================= NAVBAR ================= */

nav{

position:fixed;

top:0;

width:100%;

height:75px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

box-shadow:0 4px 15px rgba(0,0,0,.05);

z-index:1000;

}

.logo{

font-family:'Space Grotesk';

font-size:28px;

font-weight:700;

color:#1E4E8C;

}

nav ul{

display:flex;

list-style:none;

gap:35px;

}

nav ul li a{

text-decoration:none;

color:#5A718A;

font-weight:500;

position:relative;

}

nav ul li a.active{

font-weight:700;

color:#1E4E8C;

}

nav ul li a::after{

content:"";

position:absolute;

bottom:-6px;

left:0;

width:0;

height:2px;

background:#2F6FED;

transition:.3s;

}

nav ul li a:hover::after{

width:100%;

}

nav ul li a.active::after{

width:100%;

}

/* ================= BLOG ================= */

.blog-section{

width:75%;

margin:130px auto;

}

.blog-section h1{

font-family:'Space Grotesk';

font-size:40px;

color:#1E4E8C;

margin-bottom:10px;

}

.subtitle{

font-size:17px;

color:#617D99;

margin-bottom:40px;

}

.blog-card{

background:white;

padding:30px;

border-radius:15px;

margin-bottom:30px;

box-shadow:0 10px 25px rgba(0,0,0,.06);

transition:.3s;

}

.blog-card:hover{

transform:translateY(-5px);

}

.blog-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.blog-header h2{

color:#1E4E8C;

font-size:24px;

}

.blog-header span{

background:#DCEEFF;

padding:7px 15px;

border-radius:20px;

color:#2F6FED;

font-size:14px;

font-weight:600;

}

.blog-card p{

line-height:1.9;

font-size:16px;

color:#56718D;

}

.more-text{

display:none;

margin-top:20px;

}

.read-btn{

margin-top:20px;

padding:10px 22px;

background:#2F6FED;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:15px;

transition:.3s;

}

.read-btn:hover{

background:#1E4E8C;

}