*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#EAF5FF;

font-family:'Inter',sans-serif;

color:#35506A;

}

nav{

position:fixed;

top:0;

left:0;

width:100%;

height:75px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

box-shadow:0 4px 15px rgba(0,0,0,.05);

z-index:1000;

}

.logo{

font-family:'Space Grotesk';

font-size:28px;

font-weight:700;

color:#1E4E8C;

}

nav ul{

display:flex;

list-style:none;

gap:35px;

}

nav ul a{

text-decoration:none;

color:#5A718A;

font-weight:500;

}

nav .active{

font-weight:700;

color:#1E4E8C;

}

.project-page{

width:75%;

max-width:1000px;

margin:130px auto 80px;

}

.back{

text-decoration:none;

color:#2F6FED;

font-weight:600;

display:inline-block;

margin-bottom:30px;

}

h1{

font-family:'Space Grotesk';

font-size:42px;

color:#1E4E8C;

margin-bottom:8px;

}

h2{

font-size:22px;

font-weight:500;

color:#617D99;

}

.year{

display:inline-block;

margin-top:20px;

background:#DCEEFF;

color:#2F6FED;

padding:8px 18px;

border-radius:25px;

font-weight:600;

}

.section{

background:white;

padding:28px;

margin-top:30px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.06);

}

.section h3{

margin-bottom:18px;

color:#1E4E8C;

font-size:24px;

}

.section p{

line-height:1.9;

}

.section ul{

padding-left:22px;

line-height:2;

}

.chips{

display:flex;

flex-wrap:wrap;

gap:12px;

}

.chips span{

background:#DCEEFF;

padding:8px 16px;

border-radius:20px;

color:#2F6FED;

font-weight:600;

}

.resource-links{

display:flex;

flex-direction:column;

gap:15px;

}

.resource-links a{

text-decoration:none;

background:#F5FAFF;

padding:15px;

border-radius:10px;

color:#1E4E8C;

font-weight:600;

transition:.3s;

}

.resource-links a:hover{

background:#DCEEFF;

transform:translateX(8px);

}

.resource-links i{

margin-right:10px;

}