*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#EAF5FF;

font-family:'Inter',sans-serif;

color:#35506A;

}

/* NAVBAR */

nav{

position:fixed;

top:0;

width:100%;

height:75px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

box-shadow:0 4px 15px rgba(0,0,0,.05);

}

.logo{

font-family:'Space Grotesk',sans-serif;

font-size:28px;

font-weight:700;

color:#1E4E8C;

}

nav ul{

display:flex;

list-style:none;

gap:35px;

}

nav a{

text-decoration:none;

color:#5A718A;

}

nav .active{

font-weight:700;

color:#1E4E8C;

}

/* PAGE */

.container{

width:75%;

margin:130px auto;

}

.back{

display:inline-block;

margin-bottom:25px;

text-decoration:none;

color:#2F6FED;

font-weight:600;

}

h1{

font-family:'Space Grotesk';

font-size:42px;

color:#1E4E8C;

}

h2{

font-size:22px;

font-weight:500;

margin-top:8px;

color:#55708A;

}

.duration{

display:inline-block;

margin-top:18px;

background:#DCEEFF;

padding:8px 18px;

border-radius:30px;

color:#2F6FED;

font-weight:600;

}

.box{

background:white;

padding:28px;

margin-top:30px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.06);

}

.box h3{

margin-bottom:18px;

color:#1E4E8C;

}

.box p{

line-height:1.9;

}

.box ul{

padding-left:22px;

line-height:2;

}

.skills{

display:flex;

flex-wrap:wrap;

gap:12px;

}

.skills span{

background:#DCEEFF;

padding:8px 18px;

border-radius:20px;

color:#2F6FED;

font-weight:600;

}
/* ===================================
   PRESENTATIONS
=================================== */

.presentations{

    margin-top:30px;

}

.presentation-intro{

    color:#617D99;

    margin-bottom:20px;

    line-height:1.7;

}


/* Presentation list */

.presentation-links{

    display:flex;

    flex-direction:column;

    gap:12px;

}


.presentation-links a{

    display:flex;

    align-items:center;

    gap:18px;

    padding:16px 18px;

    background:#F5FAFF;

    border:1px solid #DCEEFF;

    border-radius:10px;

    text-decoration:none;

    color:#35506A;

    transition:.3s;

}


.presentation-links a:hover{

    background:#EAF5FF;

    border-color:#2F6FED;

    transform:translateX(6px);

}


/* Number */

.presentation-number{

    width:38px;

    height:38px;

    border-radius:50%;

    background:#DCEEFF;

    color:#2F6FED;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:13px;

    font-weight:700;

    flex-shrink:0;

}


/* Presentation title */

.presentation-links strong{

    display:block;

    color:#1E4E8C;

    font-size:15px;

    margin-bottom:4px;

}


/* Small description */

.presentation-links small{

    color:#71869A;

    font-size:12px;

}


/* Arrow */

.presentation-links .arrow{

    margin-left:auto;

    font-size:20px;

    color:#2F6FED;

    transition:.3s;

}


.presentation-links a:hover .arrow{

    transform:translateX(5px);

}
